@import "./app.css";

* {
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/rock-paper.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "robotoregular";
}

.wrapper {
  display: flex; /* zmień na flex po zakończeniu obsługi modal'a*/
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  height: auto;
  border: 4px solid var(--primary-color);
  border-radius: 5px;
  background: var(--wrapper-bg);
  box-shadow: 0px 0px 9px 1px rgb(173 255 47);
}

.game__result {
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.box {
  font-size: 1.5em;
  text-align: center;
  font-weight: 800;
  letter-spacing: 3.2px;
}

.box__title {
  color: var(--secondary-color);
  margin: 15px 0;
}

.box__result {
  font-size: 1.8em;
  text-transform: uppercase;
}

/* buttons style */

.game__buttons {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.btn {
  background: none;
  border: none;
  cursor: crosshair;
  font-size: 3.5em;
  font-weight: 600;
  color: var(--secondary-color);
}

.btn--1::after {
  content: "\f255";
  font-family: "Font Awesome 5 Free";
}

.btn--2::after {
  content: "\f256";
  font-family: "Font Awesome 5 Free";
  color: var(--secondary-color);
}

.btn--3::after {
  content: "\f257";
  font-family: "Font Awesome 5 Free";
  color: var(--secondary-color);
}

footer {
  text-align: center;
  font-weight: bold;
  background: var(--primary-color);
}

.footer__link {
  text-decoration: none;
  color: #000;
  box-shadow: 0px -14px 30px -1px rgba(173, 255, 47, 1);
  height: 20px;
}

.footer__link:visited {
  color: #000;
}

.footer__link:hover {
  color: rgba(0, 0, 0, 0.5);
}
