@import "./reset.css";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/rock-paper.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  height: auto;
  border: 2px solid greenyellow;
}

.game__result {
  display: inline-flex;
  justify-content: space-evenly;
}

.game__buttons {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.box {
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin: 15px 0;
}

.btn {
  padding: 1em 1em;
  margin: 0 2em;
}
