@import "./reset.css";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.game {
  display: inline-flex;
}

.game__result {
  display: inline-flex;
}

h2,
p {
  margin: 50px;
}
